/* 
- UL is for unordered list elements.
- The ul and li contain border colour changes, and 
some basic appearance changes in order to make them easier
on the eye for users.
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 34px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color: grey;
}

li button:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color: darkgrey;
}

li.dropdown {
  display: inline-block;
}

.dropButton{
  display: inline-block;
  color: black;
  background-color: grey;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}   
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Changes the colour of the hovered over elements. */
  
.dropdown-content a:hover {background-color: darkgrey;}
.dropButton button:hover {background-color: darkgrey;}
  
.dropdown:hover .dropdown-content {
    display: block;
}